menu "Weather Clock Configuration"
    config TIMEZONE
        string "Clock Time Zone"
        default "EST5EDT,M3.2.0,M11.1.0"
        help
            Time Zone of desired region

    config CITY
        string "WiFi Password"
        default "New York"
        help
            The City/Town/Region string specified to use. 
    config NTP_RESYNC_PERIOD
        int "NTP Resync Period"
        default 14400
        help
            Time between NTP remote resynchronization. (Seconds)
    config WEATHER_RESYNC_PERIOD
        int "WEATHER Resync Period"
        default 14400
        help
            Time between Weather remote resynchronization. (Seconds)   
    endmenu