menu "Open Weather API Configuration"
    config OPENWEATHERMAP_API_KEY
        string "OpenWeatherMap User API key"
        default ""
        help
            OpenWeatherMap User API key. See project READMe.MD for instructions

    config LOCATION_ID
        string "OpenWeatherMap API location code"
        default "NY,US"
        help 
            See https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes
    endmenu